/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/

body {
    background-image: url(assets/burger-friends.jpg);
    background-size:cover;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.hidden {
    display: none!important;
}

.main-bar {
    position: center;
    background-color: #0fb9b1;
    padding: 10;
    align-content: center;
}

.add-button-right {
    text-align: right;
}

.add-button {
    padding: 5px;
    border: 0;
    border-radius:4px;
}

.nav-text {
    position: absolute;
    margin: 4px;
    font-weight: 900;
}

.boxes {
    display: flex;
    justify-content: space-around;
}

span {
    margin: 75;
    padding: 2rem;
    width: 375px;
    height: 300px;
    background-color: rgba(225, 225, 225, .9);
    text-align: left;
}

.required:after {
    content: "*";
    color: #ee5253;
}

.second-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.pot {
    /* padding: 100px; */
    width: 100px;
    height: 150px;
}

.cook-button {
    background-color:#0fb9b1;
    padding: 5px;
    border: 1px solid blue;
    border-radius:4px;
    width: 150px;
    height: 30px;
}
